allow wcnss_service wcnss_service:capability { setgid setuid };
allow wcnss_service factory_file:dir { search };
allow wcnss_service factory_file:file { getattr read open };