import init.recovery.qcom_decrypt.rc

on init
    insmod /sbin/texfat.ko

    start copy_fingerprint

on fs
    wait /dev/block/bootdevice/by-name/factory
    mkdir /factory 0755
    mount ext4 /dev/block/bootdevice/by-name/factory /factory ro nodev nosuid

service copy_fingerprint /sbin/copy_fingerprint.sh
    oneshot
    disabled
